{% extends 'base.html.twig' %}

{% block body %}
    <h1>Batiment_hdv</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ batiment_hdv.id }}</td>
            </tr>
            <tr>
                <th>Levelmax</th>
                <td>{{ batiment_hdv.levelMax }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('batiment_hdv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('batiment_hdv_edit', { 'id': batiment_hdv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
